<div class="page-contrainer"
     fxLayout="row"
     fxLayoutAlign="center start"
     fxFlex="1 1 0%"
     [formGroup]="rspvFormGroup">

  <div fxLayout="column">
    <h2 class="rspv-title" fxLayout="row" fxLayoutAlign="center center">RSPV</h2>
    <h2 class="rspv-by">Please RSVP by November 15, 2019</h2>

    <div fxLayout="column" fxLayoutGap="30px">
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="rspv-control" fxFlex="1 1 50%" [ngClass]="{'error': rspvFormGroup.get('first').dirty && rspvFormGroup.get('first').invalid}">
          <label class="required">Name</label>
          <input type="text" formControlName="first" name="firstName" />
          <label>First Name</label>
        </div>

        <div class="rspv-control" fxFlex="1 1 50%" [ngClass]="{'error': rspvFormGroup.get('last').dirty && rspvFormGroup.get('last').invalid}">
          <label class="invisible">Name</label>
          <input type="text" formControlName="last" name="lastName" />
          <label>Last Name</label>
        </div>
      </div>

      <div class="rspv-control" [ngClass]="{'error': rspvFormGroup.get('email').dirty && rspvFormGroup.get('email').invalid}">
        <label class="required">Email</label>
        <input type="text" formControlName="email" name="email" />
      </div>

      <div class="rspv-control" [ngClass]="{'error': rspvFormGroup.get('attending').dirty && rspvFormGroup.get('attending').invalid}">
        <label class="required">Will you be attending?</label>
        <div>
          <input type="radio" name="attending" value="yes" formControlName="attending"> Yes <br/>
          <input type="radio" name="attending" value="no" formControlName="attending"> No <br/>
        </div>
      </div>

      <div class="rspv-control">
        <label>Names of Guests in your Party. E.g. Tony Stark, Peter Parker</label>
        <input type="text" formControlName="guests" name="guests" />
      </div>

      <div class="rspv-control">
        <label>Any food restrictions?</label>
        <input type="text" formControlName="foodRestrictions" name="foodRestrictions" />
      </div>

      <div class="rspv-control">
        <label>Question or Comments</label>
        <input type="text" formControlName="comments" name="comments" />
      </div>

      <button type="submit" class="nl-button" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
