
<div fxLayout="row"
     fxLayoutGap="30px"
     fxLayout.lt-md="column">
  <div fxFlex="1 1 50%"
       fxLayout="column"
       fxLayoutAlign="center center">
    <img src="assets/wedding-image.jpg">
  </div>

  <div fxFlex="1 1 50%"
       fxLayout="column"
       fxLayoutAlign="start center">
    <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start center">
      <p class="wedding-message">
        The wedding will be held on Friday, April 3, 2020. We'll start with a ceremony then move to reception. Dress code will be cocktail attire/formal.
      </p>

      <p class="ceremony-info">
        <small>CEREMONY</small>
        <br />
        <strong>11:00am - 12:00pm</strong>
      </p>

      <p class="ceremony-address">
        Killiam Palms Country Club
        <br />
        9950 SW 104th St
        <br />
        Miami Fl, 33176
      </p>

      <p class="reception-info">
        <small>RECEPTION</small>
        <br />
        <strong>1:00pm - 5:00pm</strong>
      </p>

      <p class="reception-address">
        Grand Salon Reception Halls & Ballrooms
        <br />
        10856 SW 104th St
        <br />
        Miami Fl, 33176
      </p>
    </div>
  </div>
</div>
