
<div class="header-container" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="1 1 25%"></div>

  <div fxFlex="1 1 50%">
    <h2 class="header-title" fxLayout="row" fxLayoutAlign="center start">
      <a [routerLink]="''">Nanu & Lexy</a>
    </h2>

    <div class="navigation-bar"
         fxLayout="row"
         fxLayoutAlign="center start">
      <div>
        <a [routerLink]="'wedding'" [routerLinkActive]="'active-route'">Wedding</a>
      </div>
      <div>
        <a [routerLink]="'travel'" [routerLinkActive]="'active-route'">Details</a>
      </div>
      <div>
        <a [routerLink]="'registry'" [routerLinkActive]="'active-route'">Registry</a>
      </div>
    </div>
  </div>

  <div class="rspv-button" fxFlex="1 1 25%" fxLayout="row" fxLayoutAlign="end center">
    <a class="nl-button" [routerLink]="'rspv'">RSPV</a>
  </div>
</div>

<div class="body-container">
  <router-outlet></router-outlet>
</div>

<!--<div fxLayout="row" fxLayoutAlign="center start" class="footer-container">-->
<!--  <h2>-->
<!--    NANULEXY2020-->
<!--  </h2>-->
<!--</div>-->
