.countdown-container {
  background-image: url("../../assets/wedding-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 747px;
  border-radius: 5px;

  .countdown {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;

    label {
      color: white;
      font-size: 2.7rem;
      font-family: 'Roboto', sans-serif;
    }
  }
}

@media only screen and (max-width: 935px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 735px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 28px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 24px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .countdown-container {
    .countdown {
      label {
        font-size: 21px;
      }
    }
  }
}

