<div class="page-contrainer"
     fxFlex="row"
     fxLayoutAlign="center start">
  <div fxFlex="1 1 60%"
       fxLayout="column"
       fxLayoutGap="40px"
       fxFlex.lt-md="1 1 100%">
    <p class="details-message-1">
      In order to allow all guests, including parents,
      an evening of relaxation, we have chosen for our
      wedding to be an adult only occasion. We hope this
      advance notice means you are still able to share our
      big day and enjoy having the evening off!
    </p>
  </div>
</div>
