<div class="page-contrainer"
     fxLayout="row"
     fxFlex="1 1 0%"
     fxLayoutAlign="center center">
  <div fxFlex="1 1 60%"
       fxLayout="column"
       fxLayoutAlign="start center">
    <p class="title">CELEBRATING OUT WEDDING</p>

    <div class="nanu-lexy">
      <div class="divider"></div>
      <h4 fxLayout="column" fxLayoutAlign="start center">
        Nanu Rivera
        <span>
        <em>- and -</em>
      </span>
        Lexy Feito
      </h4>
      <div class="divider"></div>
    </div>

    <p>FRIDAY, APRIL 3, 2020</p>

    <p class="message">
      Nanu and Lexy joyfully request the pleasure of your company as we speak our vows and join in marriage in the presence of family and friends.
    </p>

    <a [routerLink]="'rspv'" class="rspv">RSPV</a>
  </div>
</div>
